
/* Pagination */

.paginate {
    text-align: center;
}

.pagination{
}
.pagination  a, .pagination  span {
    color: #777;
    border: 1px solid #e5e5e5;
    padding: 8px 15px;
    display: inline-block;
    margin: 0 5px;
}
.pagination .page-numbers:last-child a,
.pagination .page-numbers:last-child span,
.pagination .page-numbers:first-child a,
.pagination .page-numbers:first-child span{
    border-radius: 0;
}

.pagination  a:focus,
.pagination  a:hover,
.pagination  span:focus,
.pagination  span.current,
.pagination  span:hover {
    color: #fff;
    background-color: #007dff;
    border-color: #e5e5e5;
}