
/* === Widgets === */


.widget {

    border: 1px solid #ddd;
    margin-bottom: 40px;
}
.widget-title {
    font-weight: 700;
    /* text-transform: uppercase; */
    font-size: 16px;
    color: #000;
    margin-bottom: 0px;
    padding: 15px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.widget-content {
    padding: 20px;
}

.widget input[type=text], .widget input[type=email]{
    padding: 6px 10px;
}

.widget .form input[type=submit]{
    width: 100%;
    font-size: 12px;
}

.widget ul{
    padding-left: 20px;
    margin: 0;
    list-style: none;
}

.widget ul.children{
    padding-left: 15px;
    margin-top: 12px;
}

.widget li {
    margin-bottom: 0;
    padding: 8px 0;
    position: relative;
    list-style: disc;
}

.widget .menu{
    float: none;
}

.widget .menu li {
    display: inherit;
    margin-right: 0;
}

.widget .menu li a{
    line-height: 23px;
}

.widget li:last-child {
    border-bottom: 0;
    padding-bottom: 0
}

.widget li:first-child{
    padding-top: 0;
}

.widget li a {
    font-size: 14px;
    color: #666;
}

.widget li a:hover{
    color: #007dff;
}

.widget select {
    width: 100%;
    border: 1px solid #ddd;
    padding: 6px 8px;
}



.widget .about-me{}
.widget .about-me .thumb {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px 1px rgba(131, 131, 131, 0.3);
}
.widget .about-me .thumb img {
    width: 100%;
}
.widget .about-me .name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}
.widget .about-me .descriptions{}




/* Latest Posts*/
.widget .latest-posts .entry-title a {
    color: #2d2d2d;
    font-family: "Muli";
    font-weight: bold;
}

.widget .latest-posts .entry-title a:hover{
    color: #007dff;
}

.widget .latest-posts .entry-title {
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
}
.media, .media .media {
    margin-top: 0;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}
.latest-posts .media:first-child {
    padding-top: 0;
}

.latest-posts .media:last-child {
    padding-bottom: 0;
    border-bottom: 0px solid;
}

.latest-posts .entry-meta{
    color: #9e9e9e;
}

.latest-posts .small {
    font-size: 12px;
}

.latest-posts .media > .pull-left {
    padding-right: 10px;
    width: 90px;
}

.latest-posts .pull-left {
    float: left!important;
}

.latest-posts .media-body {
    display: table-cell;
    vertical-align: top;
}


.footer-widget .widget {

    border: none;

}


/* Latest Posts*/
.widget .latest-posts .entry-title a {
    color: #2d2d2d;
    font-family: "Muli";
    font-weight: bold;
}

.widget .latest-posts .entry-title a:hover{
    color: #007dff;
}

.widget .latest-posts .entry-title {
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
}




.latest-posts .media:first-child {
    padding-top: 0;
}

.latest-posts .media:last-child {
    padding-bottom: 0;
    border-bottom: 0px solid;
}

.latest-posts .entry-meta{
    color: #9e9e9e;
}

.latest-posts .small {
    font-size: 12px;
}

.latest-posts .media>.pull-left {
    padding-right: 10px;
}

.latest-posts .pull-left {
    float: left!important;
}

.latest-posts .media-body {
    display: table-cell;
    vertical-align: top;
}





/* Social Icons */
.widget .social-link{
    margin-left: -1px;
    margin-right: -1px;
}

.widget .social-link ul{
    padding-left: 0;
}

.widget .social-link ul li {
    padding: 0;
    border: 0;
    margin: 5px;
}

.widget .social-link ul li a {
    font-size: 16px;
    border: 1px solid;
    border-color: #e5e5e5;
    width: 38px;
    height: 38px;
    display: inline-block;
    text-align: center;
    margin: 3px 1px;
    line-height: 36px;
    color: #c2c2c2;
    border-radius: 50%;
}

.widget .social-link ul li a:hover{
    color: #fff;
    background-color: #007dff;
    border-color: #007dff;
}



.site-footer .widget {
    background: none;
    box-shadow: none;
    border: none;
}

.site-footer .widget .widget-title {
    border-bottom: none;
    text-align: left;
}

.site-footer .widget a {

}



/* Tags */
.tagcloud a {

    line-height: inherit;
}
.tagcloud a:hover{

}

/* Calender */
#wp-calendar {
    width: 100%;
    margin-bottom: 0px;
}
#wp-calendar caption {
    text-align: left;
    color: #777;
    font-size: 12px;
    margin-bottom: 15px;
    padding-top: 0;
}
#wp-calendar thead {
    font-size: 12px;
}
#wp-calendar thead th {
    padding-bottom: 10px;
}
#wp-calendar tbody {
    color: #aaa;
}
#wp-calendar tbody td {
    text-align: center;

}
#wp-calendar tbody td a {
    font-weight:700;
    color:#23b2dd;
}
#wp-calendar tbody td:hover {
    color: #666;
}
#wp-calendar tbody .pad {
    background: none;
    border: none;
}
#wp-calendar tfoot #next {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
    border: none;
}
#wp-calendar tfoot #prev {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
    border: none;
}
#wp-calendar tfoot a{
    color: #007dff;
}
#wp-calendar thead th {
    padding-bottom: 10px;
    text-align: center;
}

#calendar_wrap table tr td{
    border-left: 0;
}

.footer-top #wp-calendar tbody td {
    background: #103050;
    border: 1px solid #061e37;
    text-align: center;
    padding: 8px;
    color: #fff;
}

.footer-top #wp-calendar tbody .pad {
    background: none;
    border: none;
}
.footer-top #wp-calendar caption {
    color: #fff;

}



